.container-fluid {
    position: relative;
    top: 75px;
}
.files-table {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 62vh;
    border: 1px solid #a7a7a7;
}
.table-header {
    display: flex;
    flex-flow: row nowrap;
    position: sticky;
    top: 0;
    z-index: 10;
}
.table-header > div:first-of-type, .file-rowJs > div:first-of-type {
    width: 5%;
}
.table-header > div:nth-of-type(2), .file-rowJs > div:nth-of-type(2) {
    width: 30%;
}
.table-header > div:nth-of-type(3), .file-rowJs > div:nth-of-type(3) {
    width: 20%;
}
.table-header > div:nth-of-type(4), .file-rowJs > div:nth-of-type(4), .table-header > div:nth-of-type(5), .file-rowJs > div:nth-of-type(5), .table-header > div:last-of-type, .file-rowJs > div:last-of-type {
    width: 15%;
}
.header-title {
    display: flex;
    background: #4c638b;
    border-bottom: 1px solid #a7a7a7;
    position: sticky;
    top: 0;
    min-height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header-title > span {
    margin: auto;
    padding: 5px;
    color: #fff;
}
.header-title:not(:last-of-type), .file-rowJs > div:not(:last-of-type) {
    border-right: 1px solid #a7a7a7;
}
section {
    padding: 0 15px;
}
section:first-of-type {
    margin-bottom: 15px;
}

/**  Работа с меню     **/
/*variables*/

.file-uploader {
    background: white;
    color: #242424;
    /*box-shadow: 0 0 10px #c8c8c8;*/
    width: calc(100% - 160px);
    margin:0;
    display: flex;

}

.file-uploader__message-area {
    width: 40%;
    font-size: 15px;
    text-align: center;
    color: #4c638b;
    margin: 0;
    display: flex;
    padding: 10px 0;
    cursor: pointer;
}
.file-uploader__message-area span{
    margin: auto auto auto 10px;
}
.file-uploader__message-area .glyphicon{
    color: rgb(255, 210, 110);
    margin: auto 10px;
}
.file-list {
    background-color: white;
    font-size: 16px;
}

.file-list__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-list li {
    height: 30px;
    border: none;
    overflow: hidden;
    display: flex;
}

.removal-button {
    width: 30px;
    border: none;
    background-color: #4c638a;
    color: white;
    display: inline-block;
    height: 30px;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 3px;
}
.removal-button::before {
    content: "x";
    font-size: 1em;
}
.removal-button:focus {
    outline: 0;
}

.file-chooser {
    transition: background-color 1s, height 1s;
}
.file-chooser p {
    font-size: 15px;
    margin: auto;
}

.file-uploader input[type=submit] {
    margin-top: 1em;
    float: right;
}

.file-list {
    margin: auto 0 auto auto;
    list-style-type: none;
    width: 60%;
}

.file-list__name {
    max-width: calc(100% - 40px);
    margin: auto auto auto 0;
}



.file-chooser__input {
    margin: 0 auto;
}

.file-uploader__submit-button {
    margin-left: 0;
    /*box-shadow: 4px 9px 10px #c8c8c8;*/
    width: 150px;
    border: none;
    font-size: 1.2em;
    padding: 0.5em;
    transition: 100ms ease-out;
    /*margin-left: auto;*/
    background-color: #61971f;
    color: white;
}
.file-uploader__submit-button:hover {
    background: #71b72f;
}


.error {
    color: #d92128;
    position: absolute;
    left: 45%;
    top: 10px;
    display: flex;
}

ul, li {
    margin: 0;
    padding: 0;
}


/** Стили для JS   **/

.file-rowJs {
    display: flex;
    min-height: 40px;
    /*background-color: #727272;*/
}

.tableJS {
    display: flex;
    position: sticky;
    /*border-bottom: 1px solid #a7a7a7;*/
    color: #333333;
}

.file-rowJs:nth-child(odd) {
    background: #ffffff;
}
.file-rowJs:nth-child(even) {
    background: #f5f5f6;
}
.file-rowJs:not(.empty-row):hover {
	background-color: #ccc !important;
}
.tableJS  span {
    margin: auto;
}

.tableJS a {
    color: #333333;
    text-decoration: none;
}



.grid_container {                                                                                                             /** таблица и форма через flexbox **/
    display: flex;
    flex-flow: column;
    /*display: grid;*/
    /*grid-template-columns: repeat(20, 1fr);*/
}

.table_and_generation {
    /*grid-column: 6/21;}*/
}

.grid_forma_left {
    min-width: 800px;
    width: 60vw;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}
#uploadInput {
    display: none;
}


.table-footer {
    height: 30px;
    background-color: #bebfbf;
    border: 1px solid #6e6f70;
    border-top: none;
    display: none;
}
.table-info {
    display: flex;
    flex-flow: row nowrap;
    width: 30%;
    padding-left: 50px;
    height: 100%;
}
.table-info > * {
    margin: auto 0;
}
.display-info {
    display: flex;
    flex-flow: row nowrap;
}
.display-info > *:not(:first-child) {
    margin-left: 5px;
}
.table-footer-buttons {
    border: none;
    background: none;
}

.progress {
    height: 30px;
    margin: 0;
    position: absolute;
    left: 100%;
    top: 5px;
    width: 250px;
}
.progress > div {
    padding-top: 5px;
}
.alert {
    padding: 10px 15px;
    font-size: 16px;
}
.alert .close {
    margin-top: 3px;
    font-size: 30px;
}


.table-delete-file a, .table-download-header a {
    cursor: pointer;
    text-decoration:underline;

}

.table-delete-file a:hover, .table-download-header a:hover {
    cursor: pointer;
    text-decoration:underline;
    color: #ffffff;
}

/* РАБОТА С ПОДВАЛОМ */
.handbook-content__footer {
    background-color: #dedede;
    border: 1px solid #a7a7a7;
    border-top: none;
    display: flex;
    height: 30px;
    /*margin: 0 15px;*/
    border-top: none;
}

.handbook-content__footer div {
    margin: auto;
    padding: 2px;
}

footer {
    top: 30px;
}


/** МОДАЛЬНОЕ ОКНО УДАЛЕНИЯ **/
#deleteParameter {
    display: none;
    opacity: 1;
}

.modal-dialog {
    margin: auto;
}

.modal-content {
    border-radius: 0px;
}

.modal-header {
    text-align: center;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
    background: #f07d02;
    color: white;
}

.modal-body {
    padding: 15px;
}

.padding-style p{
    margin-left: 15px;
}

.button-content {
    padding: 7px;
}

.btn {
    padding: 6px 39px;
}

.close {
    display: none;
}

/*Other styles*/
/*Медиа-запросы для придания адаптивности высоты контента*/
@media all and (min-height: 1310px) {
    .container-fluid {
        height: 85vh;
    }
    .files-table {
        height: 77vh;
    }
    #webglContent {
        height: 81vh;
    }
}

@media all and (min-height: 1240px) and (max-height: 1310px) {
    .container-fluid {
        height: 84vh;
    }
    .files-table {
        height: 78vh;
    }
    #webglContent {
        height: 80vh;
    }
}

@media all and (min-height: 1160px) and (max-height: 1240px) {
    .container-fluid {
        height: 83vh;
    }
    .files-table {
        height: 76vh;
    }
    #webglContent {
        height: 79vh;
    }
}

@media all and (min-height: 1100px) and (max-height: 1160px) {
    .container-fluid {
        height: 82vh;
    }
    .files-table {
        height: 74vh;
    }
    #webglContent {
        height: 78vh;
    }
}

@media all and (min-height: 1049px) and (max-height: 1100px) {
    .container-fluid {
        height: 81vh;
    }
    .files-table {
        height: 73vh;
    }
    #webglContent {
        height: 77vh;
    }
}

@media all and (min-height: 998px) and (max-height: 1049px) {
    .container-fluid {
        height: 76vh;
    }
    .files-table {
        height: 72vh;
    }
    #webglContent {
        height: 70vh;
    }
    footer {
        top: 75px;
    }
}

@media all and (min-height: 935px) and (max-height: 998px) {
    .container-fluid {
        height: 73.7vh;
    }
    .files-table {
        height: 69vh;
    }
    #webglContent {
        height: 70vh;
    }
    footer {
        top: 73px;
    }
}

@media all and (min-height: 880px) and (max-height: 935px) {
    .container-fluid {
        height: 77vh;
    }
    .files-table {
        height: 68vh;
    }
    #webglContent {
        height: 70vh;
    }
    footer {
        top: 34px;
    }
}

@media all and (min-height: 845px) and (max-height: 880px) {
    .container-fluid {
        height: 77vh;
    }
    .files-table {
        height: 66vh;
    }
    #webglContent {
        height: 70vh;
    }
    footer {
        top: 24px;
    }
}

@media all and (min-height: 780px) and (max-height: 845px) {
    .container-fluid {
        height: 76.5vh;
    }
    .files-table {
        height: 64vh;
    }
    #webglContent {
        height: 70vh;
    }
    footer {
        top: 15px;
    }
}

@media all and (min-height: 730px) and (max-height: 780px) {
    .container-fluid {
        height: 75.2vh;
    }
    .files-table {
        height: 62vh;
    }
    #webglContent {
        height: 70vh;
    }
    footer {
        top: 15px;
    }
}

@media all and (min-height: 680px) and (max-height: 730px) {
    .container-fluid {
        height: 73.2vh;
    }
    .files-table {
        height: 62vh;
    }
    #webglContent {
        height: 70vh;
    }
    footer {
        top: 15px;
    }
}
/*Медиа-запросы для придания адаптивности высоты контента*/