
.buttonSave {
margin: auto;
}



.facet-container{
  width: 250px;
  display:flex;
}
.right {
  float: right;
}
.left {
  float: left;
}
p {
  padding-top: 1em;
}


.facet-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  margin-left: 10px;
  width: 180px;
  min-height: 300px;
  font-size: 0.85em;
  position: absolute;
}

.facet-list li {
  margin: 1px;
  padding: 1px;
  font-size: 1.2em;
}

.facet-list li.placeholder {
  height: 10.2em
  width: 100%;
  cursor: move;
}

.facet-list-user {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  width: 180px;
  min-height: 300px;
  font-size: 0.85em;
  position: absolute;
}

.facet-list-user li {
  margin: 1px;
  padding: 1px;
  font-size: 1.2em;
}

.facet-list-user li.placeholder {
  height: 10.2em
  width: 100%;
  cursor: move;
}

.facet-list-busy{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  width: 180px;
  min-height: 300px;
  font-size: 0.85em;
  position: absolute;
  cursor: pointer;
}

.facet-list-busy li {
  margin: 1px;
  padding: 1px;
  font-size: 1.2em;
}


.facet-all {
  cursor: move;

}

.facet-user {
  cursor: move;
}


.facet.ui-sortable-helper {
  opacity: 0.5;
}
.placeholder {
  border: 1px solid orange;
  background-color: #fffffd;
}

*
.content-li {
display: none;
}


/** {
  box-sizing: border-box;
}

 Поплавок четыре колонки бок о бок */
.column {
  float: left;
  padding: 0 10px;
}

/* Удалите лишние левые и правые поля, из-за заполнения */
.row {
margin: 0 -5px;
width:100%;
}


/* Очистить поплавки после столбцов */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Отзывчивые столбцы */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Стиль контейнера карточек */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1px;
  text-align: center;
  background-color: #f1f1f1;
  display: block;
  min-width:100px;
  width: 95%;
  height: 30px;
  font-size: 10px;
  border: 1px;
  }

.img {
width: 40px;
}

.imageFlex {
width: 40px;
height: 28px;

}

.card-info {
display:flex;
float:left;
} 

.card-text {
display: block;
float:right;
width: 70%;
}

.card-text-title {
text-align: center;
font-weight: 500;
}

.card-text-main {
text-align: center;
font-weight: bold;

}

.card-text-desc {
text-align: center;
}

.container-main-garage {
display: none;
margin-top: 100px;
width: 100%;
}
.middle-main-company {
display: none;
margin-top: 100px;
width: 100%;
}

.container-upper-panel {
display: flex;
margin-top:140px;
}

.container-left-panel-header-text {
text-align: center;
font-weight: bold;
background: #d9d9d9;
margin-top: -3px;
font-size: small;
}

.container-upper-panel h1 {
width: 40%;

}

.upper-panel-main-text {
font-size: 1.6rem;
margin: 10px;
text-align: center;
padding: 15px;
width:100%;
}
.upper-panel-desc {
font-size: 1.6rem;
margin: 10px;
width:25%;
}
.upper-panel-info {
font-size: 1.6rem;
margin: 10px;
}

.middle-panel-garage {
margin: 10px;
background: #D9D9D9;
min-height: 500px;
padding-left:25%;
display: flex;
}

.middle-panel-content {
margin: 10px;
background: #D9D9D9;
min-height: 500px;
display: flex;
}

.middle-panel-zakaz {
margin: 10px;
background: #D9D9D9;
min-height: 500px;
padding-left:25%;
display: none;
}

.middle-panel-garaz {
margin: 10px;
background: #D9D9D9;
min-height: 500px;
display: none;
}

.middle-panel-auto {
margin: 10px;
min-height: 500px;
display: none;
background: #d9d9d9;
}

.container-left-panel {
width: 10%;
margin: 5px;
/*border: 2px solid red;*/
min-width: 220px;
min-height: 500px;
}

.container-right-panel {
width: 10%;
margin: 5px;
/*border: 2px solid red;*/
min-width: 190px;
min-height: 500px;
}

.container-left-panel-content {
padding: 1px;
overflow-y:scroll;
overflow-x:clip;
resize: vertical;
height: 90%;

}

.pointer-events-class {
pointer-events: none;
}

.disabled {
color: #af0000;
opacity: 0.5;
}

.container-center-panel {
width: 90%;
min-width:60%;
min-height: 500px;
margin: 5px;
/*border: 2px solid red;*/
}


.shadow-panels {
background: seashell;
box-shadow:3px 13px 15px 1px rgba(0,0,0,0.25);
border-radius: 25px;
margin-top: 25px;
margin-left: 10px;
}



.agents-main {
min-height: 400px;
margin: 5px;
background: seashell;
}

.confirm-panel {
margin: 5px;
width: 90%;
display: flex;
}

.login-button2 {

  position: relative;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px #000;
  user-select: none;
  outline: none;
  background-color: #000;
  background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(0,0,0,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  margin: auto;
  width: 150px;
  height: 50px;
  border-width: 2px 2px 0;
  border-radius: 5px 5px 5px 5px;
  padding-top: 15px;
  text-align: center;
}

.login-button2:hover {
transition: 2s linear;
background-position: -200% 0, 0 0;
box-shadow:0 14px 28px rgba(0,0,0,0.25);
filter: drop-shadow(0px 0px 5px black);
cursor: pointer;
}

.login-button2-text {
color: white;
display: flex;
margin: 2px;
}

.popup-button {

  position: relative;
  color: #00ff1f;
  text-shadow: -1px -1px #000;
  user-select: none;
  outline: none;
  background-color: blue;
  background-image: linear-gradient(315deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(0,0,0,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-width: 2px 2px 0;
  border-radius: 25px 25px 25px 25px;
  padding-top: 15px;
  text-align: center;
  font-size:x-small;
}

.popup-button:hover {
transition: 2s linear;
background-position: -200% 0, 0 0;
box-shadow:0 14px 28px rgba(0,0,0,0.25);
filter: drop-shadow(0px 0px 5px black);
cursor: pointer;
}

.popup-button-text {
color: white;
}

.popup-text {
text-align: center;
align-self: center;
}

.upromb {
display: flex;
}

.downromb {
display: flex;
}

.romb-icon {
width:100px;
position: relative;
margin-left:23%;
margin-top: 10px;
}

.romb-text-comp {
text-align: center;
color: #moccasin;
filter: drop-shadow(0px 0px 5px green);
padding:12px;
font-size: 13px;
}

.romb-text-garage {
text-align: center;
color: #moccasin;
filter: drop-shadow(0px 0px 5px grey);
padding:12px;
font-size: 13px;
}


.romb {
position:absolute;
background: cadetblue;
width: 200px;
height: 200px;
/*-webkit-clip-path: polygon(25% 0,75% 0,100% 50%,75% 100%,25% 100%,0 50%);*/
clip-path: polygon(25% 0,75% 0,100% 50%,75% 100%,25% 100%,0 50%);
cursor: pointer;
/*filter: drop-shadow(0px 0px 5px blue);*/
}

.colorful-layout-garage {
    background: lightsteelblue;
    clip-path: polygon(25% 0,75% 0,100% 50%,75% 100%,25% 100%,0 50%);
    position: relative;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    margin: 8px;
}

.colorful-layout-zakaz {
    background: green;
    clip-path: polygon(25% 0,75% 0,100% 50%,75% 100%,25% 100%,0 50%);
    position: relative;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    margin: 8px;
}

.shadow-romb:hover {
filter: drop-shadow(0px 0px 5px black)
}

.position1 {
transform: translate(40%,102.5%);
}
.position2 {
transform: translate(120%, 50%)
}
.position3 {
transform: translate(200%, 102.5%)
}
.position4 {
transform: translate(280%, 50%)
}
.position5 {
transform: translate(360%, 102.5%)
}

.container-down1-panel {
width: 90%;
min-width: 95%;
min-height: 20px;
margin: 5px;
display: flex;
}

.arrow-back {
text-align: right;
min-width:90%;
}

.arrow-back-click {
text-align: right;
margin-top: -60px;
margin-left:30px;
}


.middle-panel-fadeout {
animation: fade-out 3s;

}

    @keyframes fade-out {
    0% {opacity: 1;
    }
    100% {opacity: 0;
    }
    }

.middle-panel-fadein {

animation: fade-in 3s;

}

    @keyframes fade-in {
    0% {opacity: 0;
    }
    100% {opacity: 1;
    }
    }
    


.box-outer {
box-sizing: border-box;
display: none;
/*justify-content: center;*/
/*align-items: center;*/
height: 350px;
margin-left: 200px;
margin-top: 50px;
max-width: -webkit-fill-available;
}

.box-inner-content {
visibility: hidden;
padding: 10px;
width: 300px;
display: flex;
}

.anime-forwards {
animation: anime 1.5s cubic-bezier(0.16, 1, 0.3, 1) 1s alternate; 
animation-fill-mode: forwards; 
}

/*
.anime-backwards {
animation: anime 1.5s cubic-bezier(0.16, 1, 0.3, 1) 1s alternate; 
animation-fill-mode: backwards; 
}*/

.box-inner {
      border-radius: 20px;
      width: 1px;
      height: 1px;
      
      background: #f0f0f0;
      box-shadow:  0 0 0 #cccccc,
                   0 0 0 #ffffff,
                    10px 10px 10px #cccccc inset,
                    -10px -10px 10px #ffffff inset;

    }

    @keyframes anime {
      0% {
        width: 60px;
        height: 60px;
        background: #f0f0f0;
        box-shadow:  0 0 0 #cccccc,
                     0 0 0 #ffffff,
                      10px 10px 10px #cccccc inset,
                      -10px -10px 10px #ffffff inset;
      }
      25% {
        width: 60px;
        height: 60px;
        background: #f8f8f8;
        box-shadow:  10px 10px 10px #cccccc,
                     10px 10px 10px #ffffff,
                     0 0 0 #cccccc inset,
                     0 0 0 #ffffff inset;
      }
      50% {
        width: 60px;
        height: 240px;
        background: #f8f8f8;
        box-shadow:  10px 10px 10px #cccccc,
                     10px 10px 10px #ffffff,
                     0 0 0 #cccccc inset,
                     0 0 0 #ffffff inset;
      }
      100% {
        width: 500px;
        
        height: 240px;
        background: #fafafa;
        box-shadow:  40px 40px 40px #cccccc,
                     0 0 0 #ffffff,
                     0 0 0 #cccccc inset,
                     2px 2px 2px #ffffff inset;
    
      }
}


.tab-content {
display: none;
}

.tab-content.active {
display: block;
}

.tabs {
  margin: 0 0 30px;
  display: flex;
}

.tabs__caption {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  margin: -6px 0 0 -1px;
 
  padding-left: 0px;
  padding-right: 0px;
}

.tabs__caption li:last-child:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: -2px;
  z-index: -1;
  height: 5px;
  background: seashell;
}
.tabs__caption:after {
  content: '';
  display: table;
  clear: both;
}

.tabs__caption li {
  padding: 10px 15px;
  /*margin: 1px 0 0 1px;
  color: #000;*/
  position: relative;
  text-align: center;
   background: seashell;
}
.tabs__caption li:not(.active) {
  cursor: pointer;
}

.tabs__caption li:not(.active):hover {
  background: #657CAB;
}


.tabs__caption .active {
  background: #d9d9d9;
  color: #657CAB;
  border-color: #7DCA86;
}

.tabs__caption .active:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 5px;
}
.tabs__content {
  display: none;
  background: #FFF;
  border: 2px solid #7DCA86;
  border-radius: 0 5px 5px 5px;
  padding: 7px 15px;
}
.tabs__content.active {
  display: block;
}

.tab-all {
background: #d9d9d9;
width: 200px;
clip-path: polygon(0% 0%, 3% 0%, 6% 1%, 8% 2%, 9% 4%, 10% 7%, 10% 93%, 11% 96%, 12% 98%, 14% 99%, 15% 100%, 85% 100%, 86% 99%, 88% 98%,89% 96%, 90% 93%, 90% 7%, 91% 4%, 92% 2%, 94% 1%, 97% 0%, 100% 0%);
}

.text-container {
display: flex;
margin-left: 10px;
}



.li-zakaz {
}

.toggle {
display: none;

}

.dialog {
  background: #d7d7d7;
  color: black;
  padding: .5em 1em;
  border-radius: 4px;
  opacity: 0.9;
  position: relative;
  z-index: 1050;
  animation: appear 350ms ease-in;
  animation-fill-mode: forwards; 
  min-width: 300px;
  margin-left: 200px;
  min-height: 300px;
  box-shadow:0 14px 28px rgba(0,0,0,0.25);
}

.dialog-button {
position: absolute;
bottom: 0px;
right: 0px;
margin: 10px;
width: 100px;
height: 30px;
padding: 2px;
}

.add-button {
margin-left: 10px;
width: 110px;
height: 28px;
padding: 2px;
font-size: small;
padding: 5px;
}

.remove-button {
bottom: 0px;
right: 0px;
width: 30px;
height: 28px;
padding: 2px;
}

@keyframes appear {
  0%{
    opacity: 0;
  transform: translateY(-10px);
  }
}
.close-left {
min-width: 95%;
}
.close-button {
font-size: large;
position:relative;
text-align-last: center;
margin-top: -24px;
margin-left: -8px;
cursor: pointer;
transition: 0.5s;
}

.close-button:hover {
transform: rotate(360deg);
}

.close-romb {
background: darkblue;
width: 30px;
height: 30px;
-webkit-clip-path: polygon(25% 0,75% 0,100% 50%,75% 100%,25% 100%,0 50%);
clip-path: polygon(25% 0,75% 0,100% 50%,75% 100%,25% 100%,0 50%);
}

.close-layout {
    background: gray;
    clip-path: polygon(25% 0,75% 0,100% 50%,75% 100%,25% 100%,0 50%);
    width: 30px;
    height: 27px;
}
.close-layout:hover {
filter: drop-shadow(10px 10px 5px black);
}
.info-header {
display: flex;
width: 100%;
position: absolute;
}

.info1 {
display: flex;
position: relative;
margin: 10px;
font-weight: bolder;
}

.info1-content {
display: flex;
color: blue;
}

.datetimenow {
text-align: center;
margin: 10px;
}

.driver-block {
margin: 10px;
}

.worktype {
display: flex;
margin: 10px;
}

.worktypeadded {
display: flex;
margin: 10px;
}

.added-types-text {
width: 200px;
}

.worktype-block {
margin: 10px;
}


.zakazchik-block {
margin: 10px;
}

.driver-header .worktype-header .zakazhik-header {
margin: 10px;
}

.driver-search {
margin: 10px;
}

.addedworks {
display: block;
margin: 10px;
}