.wrap-login {
    width: 400px;
    margin: 0;
    padding: 10px 25px 10px 25px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.3);
}
.img-responsive {
    margin: 1em 0 1em 0;
    width: 95%;
    height: auto;
}
.img-logo {
    margin: 1em 0 1em 0;
    height: auto;
}

.login-button {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    padding: .3em;
    font-size: 18px;
    background: #000000;
    color: #FFFFFF;
    }

.text-mutedet {
color: #777;
text-align: center;
margin: 0.5em 0;
}

