.main_garage {
background: #E5E5E5;
position: relative;
display: flex;
}

.main-index {
display: block;
position: relative;
}

.container-fluid {
position: absolute;
}


main > .container, main > .container-fluid
{
    padding: 70px 15px 20px;
    width: 100%;
}

.container {
min-width: -webkit-fill-available;
}

.navbar-height {
height: 50px;
}

.footer {
    position:fixed;
    font-size: .9em;
    left:0;
    bottom: 0;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
}

.footer-text {
font-size: large;
padding: 3px;
font-weight: 100;
display: flex;
width: 15%;
}

.logo-footer {
background: #61AF6A;
width: 40px;
height: 40px;
clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%,32% 57%, 2% 35%, 39% 35%);
margin-top: -4px;
}

.logo-footer:hover {
/*box-shadow: 10px 10px 5px black;*/
}

.footer-line {
font-size: large;
padding-top: 3px;
min-width: 500px;
width: 70%;
padding-left: 10px;
padding-right: 10px;
}


.footer > .container, .footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.navbar form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .navbar form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.navbar form > button.logout:focus,
.navbar form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.navbar form > button.logout:focus {
    outline: none;
}

/* style breadcrumb widget as in previous bootstrap versions */
.breadcrumb {
    background-color: var(--bs-gray-200);
    border-radius: .25rem;
    padding: .75rem 1rem;
}

.breadcrumb-item > a
{
    text-decoration: none;
}



.alert {
	border-radius: 3;
	z-index: 9990!important;
	padding: 7.5px;
}
.alert > span[data-notify="message"] {
	padding-right: 20px;
}
.alert-success {
	color: #ffffff;
	background-color: #61AF6A;
	border-color: #FFFFFF;
	text-align: center;
	box-shadow:0 14px 28px rgba(0,0,0,0.25);
}
.alert-success hr {
	border-top-color: #c9e2b3;
}
.alert-success .alert-link {
	color: #2b542c;
}
.alert-info {
	color: #ffffff;
	background-color: cadetblue;
	border-color: #657CA8;
	text-align: center;
	box-shadow:0 14px 28px rgba(0,0,0,0.25);
}
.alert-info hr {
	border-top-color: #a6e1ec;
}
.alert-info .alert-link {
	color: #245269;
}
.alert-warning {
	color: #ffffff;
	background-color: #e5ac00;
	border-color: #977B9C;
	text-align: center;
	box-shadow:0 14px 28px rgba(0,0,0,0.25);
}
.alert-warning hr {
	border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
	color: #A385A8;
}
.alert-danger {
	color: #ffffff;
	background-color: #c30000;
	border-color: #CC657C;
	text-align: center;
	box-shadow:0 14px 28px rgba(0,0,0,0.25);
}
.alert-danger hr {
	border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
	color: #c30000;
}

.alert .close {
	color: #ffffff;
	opacity: 1;
	top: 5px!important;
	text-shadow: cadetblue;
	display: none;
}
.alert .close:hover, .alert .close:focus {
	color: #000000;
}
