/* @import './base.css'; */

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal; */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    /* place-items: center; */
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.ghost {
  display: none;
  opacity: 0.5;
  background: #c6eb41;
  width: 30px;
}





.drop-zone:hover {
  cursor: pointer;
  /* background-color: #b2b3b3; */
  
}
.ghost {
  display: none;
  opacity: 0.9;
  background: #c6eb41;
  width: 30px;
 
}

 .uchet-agk {
  border: 1px solid rgb(77, 137, 124);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  border-top: none;
  margin-left: 10px;
  min-width: 666px;
  
}



.report {
  margin-left: 10px;
  min-width: 180px;
  min-height: 60px;
  /* border: 1px solid rgb(77, 137, 124); */
  z-index: -1;
  text-align: start;
  display: flex;
  
}

.report-items {
  display: flex; 
  align-items: center; 
  
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 330px;

}
.update-button {
  
    justify-content: center;
    align-items: center;
    position: relative;
    height: 30px;
    width: 200px;
    background-color: #4d897d;
    
      margin-right: 3px;
      -webkit-transform: skew(-35deg);
      -moz-transform: skew(-35deg);
      -ms-transform: skew(-35deg);
      -o-transform: skew(-35deg);
      transform: skew(-35deg);
      cursor: pointer;
    
    > span {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: skew(35deg);
    }
   
    &:hover {
      background-color: #5EA898;
    }
    
}

.signs-button {
  
  justify-content: center;
  align-items: center;
  position: relative;
  height: 30px;
  width: 200px;
  background-color: #7c948e;
  
    margin-right: 3px;
    -webkit-transform: skew(-35deg);
    -moz-transform: skew(-35deg);
    -ms-transform: skew(-35deg);
    -o-transform: skew(-35deg);
    transform: skew(-35deg);
    cursor: pointer;
  
  > span {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(35deg);
  }
 
  &:hover {
    background-color: #5EA898;
  }
  
}

.cancel-button {
  
  justify-content: center;
  align-items: center;
  position: relative;
  height: 30px;
  width: 200px;
  background-color: #e7aa27;
  
    margin-right: 3px;
    -webkit-transform: skew(-35deg);
    -moz-transform: skew(-35deg);
    -ms-transform: skew(-35deg);
    -o-transform: skew(-35deg);
    transform: skew(-35deg);
    cursor: pointer;
  
  > span {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(35deg);
  }
 
  &:hover {
    background-color: #ce6121;
  }
  
}

.bottom-buttons {
  display: flex;
  position: relative;
  color: #fff;
  align-items: center;
  overflow: hidden;
  height: 30px;
 

  p {
    padding: 5px 15px;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  > div {
    margin-right: 3px;
    -webkit-transform: skew(-35deg);
    -moz-transform: skew(-35deg);
    -ms-transform: skew(-35deg);
    -o-transform: skew(-35deg);
    transform: skew(-35deg);
    cursor: pointer;
  }

  > div:first-of-type {
    margin-left: -10px;
  }

  > div:last-of-type {
    margin-left: 5px;
  }

  > div > div {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(35deg);
  }

  img {
    width: 20px;
    margin-left: 10px;
    user-select: none;
  }

  &-save {
    background-color: #4D897C;
    width: 185px;

    &:hover {
      background-color: #5EA898;
    }
  }

  &-send-print {
    background-color: #808080;

    &:hover {
      background-color: #707070;
    }
  }
}
/*
.col {
  display: flex;
}

.row {
  
  display: block;
  min-width: 100vh;
  position: relative;
  margin: 5px;
  
} */